.convv {
  background-color: lightblue;
  margin-top: 1.5%;
  height: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  color: blue;
}

.footer-section {
  flex-basis: 30%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
}
.header {
  background-color: #61dafb;
  height: 10%;
}

.header-fields {
  display: flex;
}

.logo {
  color: aliceblue;
  font-weight: bolder;
}

.field {
  margin-left: 25px;
  color: white;
  font-size: larger;
}

.centered-data {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional styles if needed */
}

.btn1 {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input1 {
  display: none;
}

.btn2 {
  padding: 8px 16px;
  font-size: 16px;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5%;
}

.btn3 {
  padding: 8px 16px;
  font-size: 16px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.allpost {
  margin-left: 5%;
  font-weight: bolder;
}
.custom {
  font-weight: lighter;
  margin-left: 0.5%;
}

.sp {
  margin-left: 0% !important;
  margin-top: 5% !important;
}

.sp1 {
  margin-left: 90% !important;
  margin-top: 10px !important;
}

.container1 {
  display: flex;
  justify-content: center;
}

.imagepost {
  max-width: 700px;
  height: 600px;
  object-fit: contain;
}

.con3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  text-align: center;
}

.heading {
  margin-bottom: 1rem;
  color: #007bff;
}

.label1 {
  margin-bottom: 0.5rem;
}

.sharedinput {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 1rem;
}

.sharedbtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.error {
  color: red;
}

.textfield {
  width: 300px;
  height: 20px;
  font-size: 12px;
  padding: 6px;
  margin-bottom: 0.5rem;
  margin-right: 0.5%;
}

.imagefield {
  max-width: 700px;
  height: 600px;
  object-fit: contain;
  margin-top: 5%;
}
